body{
    background-color: cornsilk;
}

#sign-in-dropdown{
    width: 400px;
    text-align: center;
}

.small-form-entry{
    width: 80%;
    margin: 5% 10% auto 10%;
}

#register{
    margin-top: 4%;
}

/* prevents showing both login+my_profile when page initially loads */
#sign-in-nav{
    visibility: hidden;
}

#profile-nav{
    visibility: hidden;
}

textarea{
    max-width: 30%;
    resize: none;
    margin: auto;
}

#main-content{
    margin: 3% auto;
    text-align: center;
}