body{
    background-color: cornsilk;
}

#sign-in-dropdown{
    width: 400px;
    text-align: center;
}

.small-form-entry{
    width: 80%;
    margin: 5% 10% auto 10%;
}

#register{
    margin-top: 4%;
}

/* prevents showing both login+my_profile when page initially loads */
#sign-in-nav{
    visibility: hidden;
}

#profile-nav{
    visibility: hidden;
}

textarea{
    max-width: 100%;
    resize: none;
}

#main-content{
    margin: 2% 3%;
    width: 25%;
}

.card{
    margin: 2% 0;
}

.blab-form-item{
    margin-bottom: 1%;
}

#create-post{
    padding: 5%;
    background-color: white;
    border: solid 2px black;
}